@import './element-ui';

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  color: #303133;
  background: #fff;
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

#app {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0 !important;
}

.padding-content {
  padding: 4px 0;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.pr-15 {
  padding-right: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.font-16 {
  font-size: 16px;
}

.block {
  display: block;
}

.t-r {
  text-align: right;
}

.b-b {
  border-bottom: 1px solid #dcdfe6;
}

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: inline-block;
}

.clearfix {
  &::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '';
    clear: both;
    height: 0;
  }
}

// el-scrollbar
.scrollbar-wrapper {
  overflow-x: hidden !important;
}

// el-table 操作按钮
.operate-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  font-size: 14px;
  padding: 3px;
  cursor: pointer;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  background: #f0f2f5;
  margin-right: 4px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border-color: #d4d7de;
    background: #ebedf0;
  }
}
